@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;600;800&display=swap");
body {
	background-color: rgb(0, 0, 0);
	margin: 0%;
	padding: 0%;
}

.abt-top-svg-container {
	img {
		width: 100%;

		// height: fit-content;
	}
}

.content-container {
	margin-top: -27em;
	margin-left: 15em;
	display: flex;
	flex-direction: row;
}

.tags {
	font-family: Caveat;
	color: #05fdd836;
	font-size: 1.25em;
}

.left-abt-content {
	width: 40em;

	p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 0.9em;
		width: 30em;
	}
}

.heading {
	font-family: Open Sans;
	font-size: 3.5em;
	font-weight: 700;
	padding-left: 0.5em;
	letter-spacing: 1em;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, #5ee7df, #b490ca);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-transform: to-upper-case($string: "");
	-moz-transform: to-upper-case($string: "");
	-ms-transform: to-upper-case($string: "");
	-o-transform: to-upper-case($string: "");
}

.arrow-social-container {
	display: flex;
	flex-direction: row;
}

.contact-arrow {
	font-family: Open Sans;
	font-size: 0.85em;
	text-transform: uppercase;
	color: #5ee7df;
	/*Abspositioningmakesitnottakeupvertspace*/ //position: absolute;
	/*Borderisthenewbackground*/ //background: none;
	/*Rotatefromtopleftcorner(notdefault)*/
	margin-top: 3.5em;
	margin-left: 1em;
	transform-origin: 0 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.arrow-img {
	height: 2em;
	padding-top: 4em;
}

.social-icons {
	display: flex;
	flex-direction: row;
	padding-top: 4.75em;

	a {
		img {
			height: 2em;
		}
	}
	.item-2 {
		padding-left: 3em;
	}
}

.right-abt-content {
	padding-top: 0em;
	margin-left: -3em;
}

.tagcloud {
	font-size: 1em;
	color: #5ee7df;
	font-family: Open Sans;
	font-weight: 200;
}

.tagcloud--item {
	padding: 1em 2em;
	background-color: transparent;
	// border: 1em solid transparent;
	cursor: pointer;
}

// .tagcloud--item:hover {
// 	background-color: rgba(0, 0, 0, 0);
// 	border: 1px solid #333;
// 	-webkit-border-radius: 2px;
// 	-moz-border-radius: 2px;
// 	border-radius: 2px;
// 	opacity: 1 !important;
// 	z-index: 100 !important;
// }

.light .tagcloud--item {
	color: #fff;
}

.light .tagcloud--item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #fff;
}

@media (max-width: 767px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -5em;
		margin-left: 2em;
		flex-direction: column;
	}
	.right-abt-content {
		display: none;
	}
	.heading {
		font-size: 1.5em;
	}
	.tags {
		font-size: 0.95em;
	}
	.left-abt-content {
		width: 20em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 0.85em;
			width: 22em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -7em;
		margin-left: 2em;
		flex-direction: row;
	}
	.right-abt-content {
		display: none;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 40em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1.25em;
			width: 32em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1024px) and (max-width: 1150px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -15em;
		margin-left: 5em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 2em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 25em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1.25em;
			width: 22em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1150px) and (max-width: 1250px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -18em;
		margin-left: 8em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 2.5em;
	}
	.heading {
		font-size: 2em;
	}
	.tags {
		font-size: 1.25em;
	}
	.left-abt-content {
		width: 25em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1em;
			width: 22em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1250px) and (max-width: 1350px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -19em;
		margin-left: 8em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 4em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1.25em;
			width: 23em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1350px) and (max-width: 1440px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -14em;
		margin-left: 11em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 4em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1.25em;
			width: 23em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1440px) and (max-width: 1550px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -26em;
		margin-left: 12em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 6.5em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1em;
	}
	.left-abt-content {
		width: 30em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 0.85em;
			width: 25em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1550px) and (max-width: 2000px) {
	.abt-top-svg-container {
		img {
			width: 100%;
			// height: 25em;

			// height: fit-content;
		}
	}
	.content-container {
		margin-top: -28em;
		margin-left: 15em;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 6.5em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
		p {
			color: #9ed0d7;
			opacity: 0.8;
			padding-top: 2em;
			padding-left: 0.5em;
			font-family: Open Sans;
			font-weight: 100;
			font-size: 1em;
			width: 25em;
		}
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}
