/* NAV AND HERO SECTION IS HERE */

@import url("content.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap%22");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
	font-family: "Open Sans", sans-serif;
}

.nav-container {
	width: 100%;
	background-color: #0f0f0f;
}
.navbar {
	display: grid;
	grid-template-columns: 2fr 0em 2fr;
	align-items: center;
	/* height: 80px; */
	width: 100%;
	max-width: 1720px;
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 3.5em;
	border-radius: 100px;
}
#navbar-logo {
	font-weight: 200;
	font-size: 1.8em;
	color: white;
	justify-self: start;
	margin-left: 100px;
	cursor: pointer;
	white-space: nowrap;
	letter-spacing: 0.35em;
	text-transform: uppercase;
	/* padding-left: 150px; */
}

.nav-menu {
	display: grid;
	font-weight: 300;
	grid-template-columns: repeat(4, auto);
	list-style: none;
	text-align: center;
	width: 100%;
	justify-self: end;
	padding-right: 4.2em;
}

.nav-links {
	color: white;
	text-decoration: none;
	padding: 20px;
	font-size: 1.25em;
	letter-spacing: 5px;
}
.nav-links:hover {
	color: #05fdd8;
	transition: all 0.2s ease-out;
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3 ease-in-out;
	background: white;
}

@media screen and (max-width: 1410px) {
	.nav-container {
		position: relative;
	}
	.nav-menu {
		display: grid;
		grid-template-columns: auto;
		background: #05fdd8;

		margin: 0;
		width: 100%;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 0;
		transition: all 0.5 ease;
	}
	#navbar-logo {
		margin-left: 100px;
	}
	.nav-menu.active {
		background: #0f0f0f;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		margin-top: 40px;
	}
	.nav-links {
		text-align: center;
		line-height: 60px;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #05fdd8;
		color: white;
		transition: all 0.4s ease-out;
		width: 100%;
	}

	#mobile-menu {
		position: absolute;
		/* top: 44px; */
		right: 5%;
		transform: translate(5%, 20%);
	}
	.menu-toggle .bar {
		display: block;
		cursor: pointer;
	}
	.menu-toggle:hover {
		cursor: pointer;
	}
	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@media screen and (max-width: 767px) {
	#navbar-logo {
		margin-left: 2em;
	}
	
}
@media screen and (max-width: 480px) {
	#navbar-logo {
		margin-left: 1em;
		font-size: 1.3em;
	}
	#mobile-menu {
		position: absolute;
		top: 44px;
		right: 5%;
		transform: translate(5%, 20%);
	}
	
}

/* NAV AND HERO SECTION ENDS HERE */

/* ABOUT SECTION Starts HERE */

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;600;800&display=swap");
body {
	background-color: black;
	margin: 0%;
	padding: 0%;
}

.abt-top-svg-container img {
	width: 100%;
}

.content-container {
	margin-top: -27em;
	margin-left: 15em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.tags {
	font-family: Caveat;
	color: #05fdd836;
	font-size: 1.25em;
}
.tags2 {
	padding-top: 0em;
	padding-bottom: 0em;
	margin-top: -1em;
	margin-bottom: -1em;
	font-family: Caveat;
	color: #05fdd836;
	font-size: 1.25em;
}
.left-abt-content {
	width: 40em;
}

.left-abt-content p {
	color: #9ed0d7;
	opacity: 0.8;
	padding-top: 2em;
	font-family: Open Sans;
	font-weight: 100;
	font-size: 0.9em;
	width: 30em;
}

.heading {
	font-family: Open Sans;
	font-size: 3.5em;
	font-weight: 700;
	padding-left: 0.5em;
	letter-spacing: 1em;
	text-transform: uppercase;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#5ee7df),
		to(#b490ca)
	);
	background-image: linear-gradient(90deg, #5ee7df, #b490ca);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-transform: "";
	-moz-transform: "";
	-ms-transform: "";
	-o-transform: "";
}

.arrow-social-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.contact-arrow {
	font-family: Open Sans;
	font-size: 0.85em;
	text-transform: uppercase;
	color: #5ee7df;
	/*Abspositioningmakesitnottakeupvertspace*/
	/*Borderisthenewbackground*/
	/*Rotatefromtopleftcorner(notdefault)*/
	margin-top: 3.5em;
	margin-left: 1em;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.arrow-img {
	height: 2em;
	padding-top: 4em;
}

.social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-top: 4.75em;
}

.social-icons a img {
	height: 2em;
}

.social-icons .item-2 {
	padding-left: 3em;
}

.right-abt-content {
	padding-top: 0em;
	margin-left: -3em;
}

.tagcloud {
	font-size: 1em;
	color: #4fbdb5;
	font-family: Open Sans;
	font-weight: 500;
}

.tagcloud--item {
	padding: 1em 2em;
	background-color: transparent;
	cursor: pointer;
}

.light .tagcloud--item {
	color: #fff;
}

.light .tagcloud--item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #fff;
}

@media (max-width: 767px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -5em;
		margin-left: 2em;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.right-abt-content {
		display: none;
	}
	.heading {
		font-size: 1.5em;
	}
	.tags {
		font-size: 0.95em;
	}
	.left-abt-content {
		width: 20em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 0.85em;
		width: 22em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -7em;
		margin-left: 8em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: none;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 40em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1.25em;
		width: 32em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1024px) and (max-width: 1150px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -15em;
		margin-left: 8em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 2em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 25em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1.25em;
		width: 22em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1150px) and (max-width: 1250px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -18em;
		margin-left: 8em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 2.5em;
	}
	.heading {
		font-size: 2em;
	}
	.tags {
		font-size: 1.25em;
	}
	.left-abt-content {
		width: 25em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1em;
		width: 22em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1250px) and (max-width: 1350px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -19em;
		margin-left: 8em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 4em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1.25em;
		width: 23em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1350px) and (max-width: 1440px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -14em;
		margin-left: 8em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 4em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1.25em;
		width: 23em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1440px) and (max-width: 1550px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -26em;
		margin-left: 12em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 6.5em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1em;
	}
	.left-abt-content {
		width: 30em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 0.85em;
		width: 25em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}

@media (min-width: 1550px) and (max-width: 2000px) {
	.abt-top-svg-container img {
		width: 100%;
	}
	.content-container {
		margin-top: -28em;
		margin-left: 15em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.right-abt-content {
		display: block;
		margin-left: 6.5em;
	}
	.heading {
		font-size: 2.5em;
	}
	.tags {
		font-size: 1.5em;
	}
	.left-abt-content {
		width: 30em;
	}
	.left-abt-content p {
		color: #9ed0d7;
		opacity: 0.8;
		padding-top: 2em;
		padding-left: 0.5em;
		font-family: Open Sans;
		font-weight: 100;
		font-size: 1em;
		width: 25em;
	}
	.arrow-social-container {
		padding-top: 2em;
	}
}
/*# sourceMappingURL=About.css.map */

/* ABOUT SECTION ENDS HERE */

/* our Team Section  */

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;600;800&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;600;800&display=swap");
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

.ball {
	z-index: -1;
	margin-bottom: -25em;
	background-color: #000000;
}
.ball > img {
	width: 22.5%;
}

.Ourteam {
	margin-top: 5vh;
	height: 95vh;
	/* overflow-x: hidden; */
}

.carousel__container {
	/* white-space: nowrap; */
	/* margin: 10px 0px; */
	/* padding-top: 10px; */
	padding: 1vh;
	display: flex;
	min-height: 48vh;
	margin-top: 19vh;
	margin-bottom: 20em;
	margin-left: 7vw;
	background-color: #1a1a1a;
	overflow-x: scroll;
	overflow-y: hidden;
	/* white-space: nowrap; */
	/* padding: 15px; */
	/* position: relative; */
	position: absolute;
	border-radius: 2vh;
	max-width: 86vw;
	padding-right: 2vh;
	padding-left: 3.5vh;
	padding-top: 4vh;
	padding-bottom: 2vh;
}

.carousel-item {
	/* background-color: #05fdd8d9; */
	border-radius: 20px;
	cursor: pointer;

	height: 40vh;
	margin-right: 3.1vh;
	overflow: hidden;
	transform-origin: center left;
	transition: 450ms all;
	min-width: 30vh;
	position: relative;
}

.carousel-item img {
	height: 100%;
}

/* .carousel-item:hover ~ .carousel-item{
    transform: translate3d(25px,0,0);
     overflow-x: scroll; 
  }
  
  
  
  .carousel__container:hover .carousel-item:hover{
    opacity: 1;
    transform: scale(1.25);
    
  } */

.section {
	background-color: #0d0d0d;
	margin-top: 30vh;
	/* width: 100%; */
	/* height: 120vh; */
}

.gradient-text {
	background-color: #0d0d0d;
	font-family: Open Sans;
	font-size: 3.5em;
	font-weight: 700;
	padding-left: 0.5em;
	letter-spacing: 1em;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, #5ee7df, #b490ca);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-transform: to-upper-case($string: "");
	-moz-transform: to-upper-case($string: "");
	-ms-transform: to-upper-case($string: "");
	-o-transform: to-upper-case($string: "");
}

/* .pad-20em {
	padding-left: 0.3em;
} */

.gradient-text {
	/* position: absolute; */
	/* margin-top:10vh; */
	/* top: 10vh; */
	/* left: 12vh; */
	letter-spacing: 5vh;
	padding-bottom: 1vh;
}

.ourteam-con-head {
	padding-left: 7vw;
}

.ourteam-con-head-2 {
	padding-left: 6em;
}

/* .arrow{
    top:100vh;
  } */

/* width */
.carousel__container::-webkit-scrollbar {
	width: 1vh;

	/* height: 1vh; */
}

/* Handle */
.carousel__container::-webkit-scrollbar-thumb {
	background: rgb(36, 34, 34);
	border-radius: 10px;
}

.past {
	/* overflow: hidden; */
	position: relative;
	/* padding-top: 2em; */
	margin-top: 18vh;
	margin-left: 148vh;
}
@media only screen and (max-width: 1666px) {
	.carousel__container {
		width: 115vw;
		margin-right: 7vw;
	}
	.past {
		margin-left: 130vh;
	}
}
@media only screen and (max-width: 1540px) {
	.carousel__container {
		width: 115vw;
	}
	.past {
		margin-left: 130vh;
	}
}
@media only screen and (max-width: 1540px) {
	.carousel__container {
		width: 115vw;
	}
	.past {
		margin-left: 130vh;
	}
}



@media only screen and (max-width: 1400px) {
	.carousel__container {
		width: 80vw;
	}
	.past {
		margin-left: 130vh;
	}
}

@media only screen and (max-width: 1310px) {
	.carousel__container {
		width: 75vw;
	}
	.past {
		margin-left: 120vh;
	}
}
@media only screen and (max-width: 1293px) {
	.carousel__container {
		width: 75vw;
	}
	.past {
		margin-left: 110vh;
	}
}
@media only screen and (max-width: 1245px) {
	.carousel__container {
		width: 75vw;
	}
	.past {
		margin-left: 110vh;
	}
}
@media only screen and (max-width: 1160px) {
	.carousel__container {
		width: 75vw;
	}
	
}
@media only screen and (max-width: 1120px) {
	.carousel__container {
		width: 70vw;
	}
	
}
@media only screen and (max-width: 1061px) {
	.carousel__container {
	
		width: 68vw;
	}
	
}
@media only screen and (max-width: 960px) {
	.carousel__container {
		width: 61vw;
		margin-left: 19vw;
	}
	
}
@media only screen and (max-width: 900px) {
	.carousel__container {
		width: 59vw;
		margin-left: 19vw;
	}
	
}
@media only screen and (max-width: 812px) {
	.carousel__container {
		width: 53vw;
		margin-left: 10vw;
	}
	
}

@media only screen and (max-width: 811px) {
.carousel__container{
	width: 91vw;
	margin-left: 9vw;
	/* margin-right: 3vw; */
}



}
@media only screen and (max-width: 350px) {
	.carousel__container{
		width: 53vw;
		margin-left: 5vw;
		/* margin-right: 3vw; */
	}
	
	
	
	}


@media only screen and (max-width: 500px) {
	.carousel__container{
		width: 85vw;
		margin-left: 5vw;
		/* margin-right: 3vw; */
	}
	
	
	
	}









/* CONTACT FORM BEGINS HERE */

/* NEED TO FIX THE CONTACT FORM STYLING */
/* 
body {
	background-color: #0f0f0f;
	font-family: "Open Sans", sans-serif;
	color: #05fdd8;
} */

.contact {
	background-color: #0f0f0f;
	font-family: "Open Sans", sans-serif;
	color: #05fdd8;
	padding: 5rem 10px;
	background-color: #000000;
	background-image: linear-gradient(
		170deg,
		#000,
		#000 50%,
		#0f0f0f 50%,
		#0f0f0f 100%
	);
	background-position: center center;
}

.form-box {
	width: 100%;
	max-width: 500px;
	margin: 7vw;
	padding: 2rem;
	background-image: linear-gradient(
		170deg,
		#000,
		#000 45%,
		#0f0f0f 50%,
		#0f0f0f 100%
	);
	background-position: center center;
	border: 1px solid #0f0f0f;
	-webkit-box-shadow: 1px 1px 3px #05060825, 3px 3px 7px #05fdd866;
	box-shadow: 1px 1px 3px #05060825, 3px 3px 7px #05fdd866;
}
/* 
h2 {
	text-transform: uppercase;
	margin-bottom: 0.7rem;
	font-size: 2rem;
	font-weight: 300;
} */

.form-item {
	margin-bottom: 0.7rem;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.4;
	outline-color: #8f5db1;
}

label {
	margin-bottom: 3px;
}

input,
textarea {
	padding: 3px;
	border: 1px solid #0f0f0f;
	background-color: #05fdd866;
}

input[type="submit"] {
	background-color: #05fdd896;
	padding: 7px;
	border: 0;
	color: snow;
	cursor: pointer;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	-webkit-animation-name: submit-hover;
	animation-name: submit-hover;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
}

input[type="submit"]:active {
	-webkit-animation-name: submit-active;
	animation-name: submit-active;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

@-webkit-keyframes submit-hover {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes submit-hover {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes submit-active {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
	}
}

@keyframes submit-active {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
	}
}

/* footer */
.anim {
	display: flex;
	background: #333;
	justify-content: flex-end;
	align-items: flex-end;
	
  }
  
  .footer {
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  
  .footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
  }
  
  .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("https://i.ibb.co/wQZVxxk/wave.png");
	background-size: 1000px 100px;
  }
  
  .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
	0% {
	  background-position-x: 1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }
  
  @keyframes animate {
	0% {
	  background-position-x: -1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }
  
  